<!-- <div *ngIf="alumno">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{alumno.imagen}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{alumno.nombre}}</h5>
                    <p class="card-text">apellidos: {{alumno.apellidos}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<table class="table" *ngIf="alumno" >
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Imagen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{alumno.nombre}}</th>
        <td>{{alumno.apellidos}}</td>
        <td><img src="{{alumno.imagen}}" style="width:150px"/></td>
      </tr>
    </tbody>
  </table>